<%= form_for @theme, :html => { :multipart => true } do |f| %>
  <p><%= f.label :name %> </p>
  <p><%= f.text_field :name %></p>

  <br/>
  <p><%= f.label :css %> </p>
  <p><%= f.text_area :css, rows: 10, cols: 150  %></p>

  <br/>
  <p><%= f.label :js %> </p>
  <p><%= f.text_area :js, rows: 10, cols: 150 %></p>

  <p><%= f.label :images %> </p>
  <% 5.times do |i| %>
    <%= file_field_tag('images[]') %><br/>
  <% end %>

  <p><%= f.label :current_images %> </p>

  <% @theme.images.each do |image| %>
    <% unless image.new_record? %>
      <p><%= image.filename %></p>
    <% end %>
  <% end %>

  <p><%= f.submit %></p>
<% end %>
