<h2>Listing themes</h2>

<table>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>

  <% @themes.each do |theme| %>
    <tr>
      <td><%= theme.name %></td>
      <td><%= link_to 'Show', theme %></td>
      <td><%= link_to 'Edit', edit_theme_path(theme) %></td>
      <td><%= link_to 'Destroy', theme, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'New theme', new_theme_path %>
